# frontend 
node_modules
.output
/.svelte-kit
/build

# environment 
*.env
*.env.*
.envrc
.direnv/
py-benchmark/active_dataset.txt

# operating systems
.DS_Store
Thumbs.db

# editors 
.vscode/

# databases
chroma_db/
app.db
app.db-*
py-benchmark/data/
py-benchmark/predictions/

# --- Model cache or sentence-transformers ---
models/
tmp_model/

# --- Agents --- 
.codex

# python
venv/
.venv/
__pycache__/
*.pyc
